.product-card {
    width: calc(25% - 15px);
    margin-bottom: 15px;
}

.product-card:hover {
    cursor: pointer;
}

.product-thumbnail {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 25px;
    margin-bottom: 5px;
    height: 350px;
    width: 100%; 
}

img {
    transform: all ease 0.3s;
    display: block;
    width: 100%;
}

.product-details .product-name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}

.product-details .product-price {
    font-size: 24px;    
}